// _________ COLORS _________ 
//
$purple : #8D34FF ;
$pink : #FF93E1 ;
$yellow: #FFCA43 ;
$green : #76F599 ;
$blue : #70BAFF ;
$white : #FFF;
$black : #000;

$colors: (pink : #FF93E1, purple : #8D34FF, yellow : #FFCA43, green : #76F599, blue : #70BAFF );

// _________ FONTS _________ 
//
$font_family : "Segoe UI","Open Sans","Noto Sans","sans-serif";

// _________ FONTS SIZE _________ 
//
$font-size-base : 1.5rem; // 24px
$font-size-header-title: $font-size-base + .75; // 36px
$font-size-button : $font-size-base - .25; // 24px
$font-size-nav-title: $font-size-base; // 24px
$font-size-base-title : $font-size-base * 2 ; // 48px