/**
 * Button variables
 **/

$btn-borderRadius : 17px;
$btn-width : 250px;
$btn-height : 50px;
$btn-border : 3px solid $black;
$btn-boxShadow : 6px 6px 0px $black;
$btn-backgroundColor : $white;

.btn {
    // button
    border-radius : $btn-borderRadius ;
    border: $btn-border ;
    box-shadow: $btn-boxShadow  ;
    background-color: $btn-backgroundColor;
    cursor: pointer;
    height: $btn-height;
    width: $btn-width;

    // button text
    text-align: center;
    @include typography($font-size-button,"light")
    
    

    
    

    
    
    
}
@each $color,$hex in $colors {
    .btn--#{$color}:hover {
        background-color:$hex
        }
}