
.list-page {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - ($navbar-size-height + $footer-size-height));

    &__container{
        width: 80%;
        max-width: 80%;
        margin-bottom: 50px;
        
        @media (max-width: 750px) {
            max-width: 90%;
        }

    }
};

.list-page__header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;
    margin-bottom: 80px;
    margin-top: 50px;

    h2 {
        grid-column-start: span 3;
        justify-self: center;
    }
    button {
        grid-column: 2 / 2;
        justify-self: end;
    }
};

.list-group-item__container {
    display: flex;
    justify-content: center;
    align-items: center;
    

    img.img--cross-delete {
        display: none;
    }

    &:hover {
        
        img.img--cross-delete {
            display: block;
            width:  20px;
            height: 20px;
            margin-left: 25px ;
            cursor: pointer;
    }}


};

.list-group-item__button {
    border-radius: 25px;
    width : 90%;
    margin-bottom: 10px;
    padding: 15px 25px;
    vertical-align: middle;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.082);
    cursor: pointer;

    &--border {
        border: 3px solid black;
    }

    h3 {
        margin-top: 10px;
    }

    @media (max-width: 750px) {
        width : 100%;
    }

    
};



