.form {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    text-align: center;
    min-height: calc(100vh - ($navbar-size-height + $footer-size-height));

    &__container {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }


}

.form__title {
    margin-bottom: 80px;
}
input[type="file"] {
    display: none;
}

.custom-file-upload{
    cursor: pointer;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.171);
    font-weight: semi-bold;
    &:hover {
        background-color:$black;
        color:white;
    }
}


input,.custom-file-upload {
    border-radius: 35px;
    border: 3px solid black;
    width: max(20vw, 250px);
    height: max(5vh,25px);
    margin: 15px;
    margin-bottom: 25px;
    text-align: center;
    vertical-align: middle;
    display:flex;
    align-items: center;
    justify-content: center;
}
form {

    text-align: center;

}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.text-danger {
    font-size: 15px;
}


/* Chrome, Firefox, Opera, Safari 10.1+ and Internet Explorer 10-11 and Microsoft Edge */
::placeholder { 
    font-size: 18px;
    
  }