<div class="form">
    <div class="form__container">

        
            <h2 class="form__title">Ajouter une nouvelle Playlist</h2>
        

        <form [formGroup]="playlistForm" (ngSubmit)="onSavePlaylist()">

            <div class="form-group">
                <label for="title">Nom de la playlist</label>
                    <input class="form-control" type="text" id="title" formControlName="title" >
            </div>

            <button class="btn btn--center btn--yellow" [disabled]="playlistForm.invalid" type="submit">enregistrer</button>

        </form>

        <button class="btn btn--margin-bottom btn--pink btn--small" (click)="onBack()">retour</button>
    </div>
</div>