<div class="home-page-header">
    <div class="home-page-header home-page-header__text-block">

        <h1 class="home-page-header__title">Créer votre playlist avec vos amis et chantez de votre plus belle organe</h1>

        <p class="home-page-header__text">Ici plus besoin d’attendre que le DJ mette la musique sur laquel vous voulez vous enjaillez, créez avec vos amis <span class="home-page-header__text home-page-header__text--weight">THE</span> playlist qui satisfera tout le monde et ne laissera personne dans les backstages. A vos micro 1...2...3... Chantez !</p>

        <button src="#" class="btn btn--pink">Créer ma playlist</button>

    </div>
    <div class="home-page-header__img-block">
        <img class="header-gif header-gif-1" src="../../assets/img/dancing-liza.gif" alt="gif : femme qui dance dans sa voiture">

        <img class=" header-gif header-gif-2" src="../../assets/img/kemono-friends.gif" alt="gif : dessin de 3 fille dansant dans la voiture" >

        <img class="header-gif header-gif-3" src="../../assets/img/dancing-driving-1.gif">
<!-- 
        <img src="../../assets/svg/music-note-1.svg" alt="forme géométrique formant une note de msique" class="music-note">

        <img src="../../assets/svg/music-note-2-pink.svg " alt="forme géométrique formant une note de msique" class="music-note">

        <img src="../../assets/svg/music-note-3-blue.svg" alt="forme géométrique formant une note de msique" class="music-note">

        <img src="../../assets/svg/music-note-4-purple.svg" alt="forme géométrique formant une note de msique" class="music-note">

        <img src="../../assets/svg/music-note-5.svg" alt="forme géométrique formant une note de msique" class="music-note">

        <img src="../../assets/svg/music-note-6-green.png" alt="forme géométrique formant une note de msique" class="music-note"> -->
    </div>
</div>